{
  "extends": ["react-app", "plugin:jsx-a11y/recommended"],
  "rules": {
    "no-unused-vars": "off"
  },
  "plugins": [
    "jsx-a11y"
  ],
  "overrides": [
    {
      // enable the rule specifically for TypeScript files
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "@typescript-eslint/no-unused-vars": "warn",
        "@typescript-eslint/explicit-module-boundary-types": 0
      }
    }
  ]
}
